@model TFEWebv1.Models.AdminViewModels.RegisterArticlesViewModel
@{
    ViewData["Title"] = "NewArticles";
}
<script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
    <nav class="navbar navbar-default sidebar downwiththesickness" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Texts<span class="caret"></span><span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a>
                    <ul class="dropdown-menu forAnimate" role="menu">
                        <li draggable="true"><a href="#title" class="dragit" id="titledrag">Titre</a></li>
                        <li draggable="true"><a href="#para" class="dragit" id="paradrag">Paragraphe</a></li>
                        <li><a href="#line">Ligne</a></li>
                        <li class="divider"></li>
                        <li><a href="#img">Images</a></li>
                        <li class="divider"></li>
                        <li><a href="#oth">Others</a></li>
                    </ul>
                </li>
                <li><a href="#">Images<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                <li><a href="#">Others<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="canvas" id="dropit">
    <span>Ekko</span>
    <form asp-controller="Admin" asp-action="Register" method="post">
        @*<label asp-for=""></label>
        <input asp-for="" type="text" />*@
        <input type="text" asp-for="Name" placeholder="Nom de l&apos;article"/>
        <input type="text" asp-for="Description" placeholder="Description" />
        <ul id='dropitdown'></ul>
        <input type="hidden" asp-for="Content" value="" id="stringHtml" name="Content" />
        @*<input type="hidden" asp-for="TextIns" />*@
        @*<input asp-for="TextIns" />*@
        <input type='submit' />
    </form>
    <button onclick="doit()">show</button>
</div>
